.row
    .col-lg-12
        h2 List of reports:
        table(st-table='collection', class='table')
            thead
                tr
                    th Case ID
                    th Referring Physician
                    th Date
                    th Patient
                    th Status
                    th Actions
            tbody
                tr(ng-repeat='row in collection')
                    td {{row.caseID}}
                    td {{row.referringPhysician}}
                    td {{row.date}}
                    td {{row.patient}}
                    td {{row.status}}
                    td
                        a(href="/new", class="newReportLink", title="Create new report", data-toggle="tooltip", data-placement="top", tooltip)
                            span(class="glyphicon-plus")

