//
   Created by rbwilliams on 17/07/2016.
.jumbotron
    .row
        .col-lg-12
            h2(class="h2") Diagnoses Report
        .col-lg-12
            div(class="col-lg-4")


            div(class="col-lg-4 mdCol4")


            div(class="col-lg-4", id="partial7EndCol")
                a(href="/view1", id="diagnosesEndCol4", class="form-control btn btn-success") Finish
                    span(class="glyphicon glyphicon-circle-arrow-right")