//
   Created by rbwilliams on 26/06/2016.
.jumbotron
    .row
        .col-lg-12
            h2(class="h2") Descriptors
        .col-lg-12
            form(class="form-horizontal", ng-submit="submit()")
                div(class="col-lg-4 form-group")
                    h3(class="h3") 1. Zonal Dominance
                    label(class="label") {{ zonalDominance[0].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="basal", id="basal", ng-checked="basal")
                        | {{ ccName[1] | capitalize }}
                        input(type="checkbox", ng-model="upper", id="upper", ng-checked="upper")
                        | {{ ccName[2] | capitalize }}
                        input(type="checkbox", ng-model="middle", id="middle", ng-checked="middle")
                        | {{ ccName[3] | capitalize }}
                        input(type="checkbox", ng-model="ccNone", id="ccNone", ng-checked="ccNone")
                        | {{ ccName[4] | capitalize }}

                    div(class="btn-group", role="group")
                        label(class="label") {{ zonalDominance[1].name }}:
                        div(class="checkboxLabel")
                            input(type="checkbox", ng-model="posterior", id="posterior", ng-checked="posterior")
                            | {{ apName[1] | capitalize }}
                            input(type="checkbox", ng-model="anterior", id="anterior", ng-checked="anterior")
                            | {{ apName[2] | capitalize }}
                            input(type="checkbox", ng-model="apNone", id="apNone", ng-checked="apNone")
                            | {{ apName[3] | capitalize }}

                        label(class="label") {{ zonalDominance[2].name }}:
                        div(class="checkboxLabel")
                            input(type="checkbox", ng-model="symmetrical", id="symmetrical", ng-checked="symmetrical")
                            | {{ lrName[1] | capitalize }}
                            input(type="checkbox", ng-model="asymmetrical", id="asymmetrical", ng-checked="asymmetrical")
                            | {{ lrName[2] | capitalize }}

                        label(class="label") {{ zonalDominance[3].name }}:
                        div(class="checkboxLabel")
                            input(type="checkbox", ng-model="central", id="central", ng-checked="central")
                            | {{ cpName[1] | capitalize }}
                            input(type="checkbox", ng-model="peripheral", id="peripheral", ng-checked="peripheral")
                            | {{ cpName[2] | capitalize }}
                            input(type="checkbox", ng-model="cpNone", id="cpNone", ng-checked="cpNone")
                            | {{ cpName[3] | capitalize }}

                div(class="col-lg-4 form-group", id="middleCol")
                    h3(class="h3") 2. Parenchymal Descriptors
                    label(class="label") {{ parenchymalDescriptors[0].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="predominantAbnormalityReticular", id="predominantAbnormalityReticular", ng-checked="predominantAbnormalityReticular")
                        | {{ paName[1] | capitalize }}
                        input(type="checkbox", ng-model="predominantAbnormalityNodular", id="predominantAbnormalityNodular", ng-checked="predominantAbnormalityNodular")
                        | {{ paName[2] | capitalize }}
                        input(type="checkbox", ng-model="predominantAbnormalityBoth", id="predominantAbnormalityBoth", ng-checked="predominantAbnormalityBoth")
                        | {{ paName[3] | capitalize }}
                        input(type="checkbox", ng-model="predominantAbnormalityNone", id="predominantAbnormalityNone", ng-checked="predominantAbnormalityNone")
                        | {{ paName[4] | capitalize }}

                    label(class="label") {{ parenchymalDescriptors[1].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="ggoPresent", id="ggoPresent", ng-checked="ggoPresent")
                        | {{ ggoName[1] | capitalize }}
                        input(type="checkbox", ng-model="ggoSignificant", id="ggoSignificant", ng-checked="ggoSignificant")
                        | {{ ggoName[2] | capitalize }}
                        input(type="checkbox", ng-model="ggoNone", id="ggoNone", ng-checked="ggoNone")
                        | {{ ggoName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="ggoComment", placeholder="Comment...")

                    label(class="label") {{ parenchymalDescriptors[2].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="ggorPresent", id="ggorPresent", ng-checked="ggorPresent")
                        | {{ ggorName[1] | capitalize }}
                        input(type="checkbox", ng-model="ggorSignificant", id="ggorSignificant", ng-checked="ggorSignificant")
                        | {{ ggorName[2] | capitalize }}
                        input(type="checkbox", ng-model="ggorNone", id="ggorNone", ng-checked="ggorNone")
                        | {{ ggorName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="ggorComment", placeholder="Comment...", id="ggorComment")

                div(class="col-lg-4 form-group")
                    button(type="submit", class="form-control btn btn-success") Continue
                        span(class="glyphicon glyphicon-circle-arrow-right")
                    br
                    h4(class="h4", id="pcName") {{ pcName.name }}

                    label(class="label") {{ pcName.peribronchovascularComponent[0].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="tbPresent", id="tbPresent", ng-checked="tbPresent")
                        | {{ tbName[1] | capitalize }}
                        input(type="checkbox", ng-model="tbSignificant", id="tbSignificant", ng-checked="tbSignificant")
                        | {{ tbName[2] | capitalize }}
                        input(type="checkbox", ng-model="tbNone", id="tbNone", ng-checked="tbNone")
                        | {{ tbName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="tbComment", placeholder="Comment...", id="tbComment")

                    label(class="label") {{ pcName.peribronchovascularComponent[1].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="tb2Present", id="tb2Present", ng-checked="tb2Present")
                        | {{ tb2Name[1] | capitalize }}
                        input(type="checkbox", ng-model="tb2Significant", id="tb2Significant", ng-checked="tb2Significant")
                        | {{ tb2Name[2] | capitalize }}
                        input(type="checkbox", ng-model="tb2None", id="tb2None", ng-checked="tb2None")
                        | {{ tb2Name[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="tb2Comment", placeholder="Comment...", id="tb2Comment")


        .col-lg-12
            .col-lg-10

            .col-lg-2
