.row
    .col-lg-12
        h2 List of reports:
        table(st-table='collection', class='table')
            thead
                tr
                    th Case ID
                    th Referring Physician
                    th Date
                    th Patient
                    th Status
                    th Actions
            tbody
                tr(ng-repeat='row in collection')
                    td {{row.caseID}}
                    td {{row.referringPhysician}}
                    td {{row.date}}
                    td {{row.patient}}
                    td {{status(row.caseID, reports)}}
                    td
                        a(href="/new",class="newReportLink", title="Create new report", data-toggle="tooltip",
                            data-placement="top", ng-click="startNewReport(row.caseID)", tooltip)
                            span(class="glyphicon-plus")

                        a(href="/existing", class="editReportLink", ng-repeat="report in reports", ng-cloak="reportsReady", ng-if="report.caseID == row.caseID && report.author.firstName != 'David'",
                            title="Edit report created by: {{ report.author.firstName }} {{ report.author.lastName }} on {{ report.created }}",
                            data-toggle="tooltip", data-placement="top", ng-click="editReport(report._id)", tooltip)
                            span(class="glyphicon-pencil")

