//
   Created by rbwilliams on 30/06/2016.
.jumbotron
    .row
        .col-lg-12
            h2(class="h2") Descriptors Cont...
        .col-lg-12
            form(class="form-horizontal", ng-submit="submit()")
                div(class="col-lg-4 form-group")
                    h4(class="h4", id="") {{ .name }}
                    label(class="label", for="") {{ pcName.peribronchovascularComponent[].name }}:
                    br
                    select(ng-model="", class="form-control", id="")
                        option {{ Name[] | capitalize }}
                        option {{ Name[] | capitalize }}
                    textarea(class="form-control comment", ng-model=" Comment", placeholder="Comment...", id=" Comment")



                div(class="col-lg-4 form-group")





                div(class="col-lg-3 form-group")





                div(class="col-lg-1 form-group")
                    button(type="submit", class="form-control btn btn-success", id="submitFirstDescriptors")
                        span(class="glyphicon glyphicon-circle-arrow-right")