//
   Created by rbwilliams on 14/07/2016.
//
   Created by rbwilliams on 11/07/2016.
.jumbotron
    .row
        .col-lg-12
            h2(class="h2") Diagnoses Questions
        .col-lg-12
            div(class="col-lg-4")

            div(class="col-lg-4")


            div(class="col-lg-4")

