.jumbotron
    .row
        .col-lg-12
            form(class="form-horizontal", ng-submit="submit()")
                div(class="col-md-3 form-group")
                    h2 Please enter your details:
                    label(class="label", for="firstName") First name:
                    input(type="name", ng-model="firstName", class="form-control", id="firstName", placeholder="First name")
                    label(class="label", for="lastName") Last name:
                    input(type="name", ng-model="lastName", class="form-control", id="lastName", placeholder="Last name")
                    label(class="label", for="level") Experience level:
                    select(ng-model="level", class="form-control", id="level")
                        option Radiologist
                            option(class="level2") -----Consultant
                                option(class="level3") ----------Thoracic
                                option(class="level3") ----------Other
                            option(class="level2") -----Other
                        option Other
                    label(class="label", for="mdt") Are you regularly part of lung MDT meetings?
                    input(type="checkbox", ng-model="mdt.regular", id="mdt", ng-checked="mdt.regular", value="true")
                    | Yes
                    br
                    input(type="checkbox", ng-model="mdt.regular", ng-checked="!mdt.regular", value="false")
                    | No
                    br
                    label(class="label", for="dateCreated") Date created:
                    input(ng-model="dateCreated", class="form-control", id="dateCreated", value="{{ dateCreated }}", readonly)
                    label(class="label", for="referringPhysician") Referring Physician
                    input(ng-model="referringPhysician", class="form-control", id="referringPhysician")
                div(class="col-md-4")
                    h2 Entered details:
                    h3 First name:
                        label(class="label") {{ firstName }}
                    h3 Last name:
                        label(class="label") {{ lastName }}
                    h3 Level:
                        label(class="label") {{ level }}
                    h3 Date:
                        label(class="label") {{ dateCreated }}
                    h3 Referring Physician:
                        label(class="label") {{ referringPhysician }}
                div(class="col-md-2")

                div(class="col-md-2")
                    button(type="submit", class="form-control btn btn-success", id="submitDetails")
                        span(class="glyphicon glyphicon-circle-arrow-right")
                    a(ng-click="deleteReport()", ng-if="editing", class="{{ deleteButtonClass }}", id="deleteButton") {{ deleteButtonValue }}
                        span(class="{{ deleteButtonSpanClass }}", id="deleteButtonSpan")



    //              label(class="label", for="confidence") Confidence level:
    //              input(type="number", ng-model="confidenceLevel", id="confidence", class="form-control",
    //                      placeholder="Confidence of findings", min="0", max="100") // Would use a slider plugin here to get number value

                    p {{ firstName }}
                    p {{ lastName }}


